<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="common/top :: mainHead"> </head>

<body>
  <main class="main w-100 m-auto">
    <div class="d-flex align-items-center justify-content-center vh-100">
      <div class="text-center">
        <h1 class="display-1 fw-bold">ㅠㅅㅠ</h1>
        <p class="fs-3"> <span class="text-danger">Error</span><br> 페이지를 찾지 못했거나 <br> 에러가 발생했습니다.</p>
        <p class="lead">
          관리자에게 문의해주세요.
        </p>
        <a href="/" class="btn btn-primary">메인화면으로</a>
      </div>
    </div>
  </main>
</body>


</html>