<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="common/top :: mainHead"> </head>
<body class="text-center">
    <main class="main w-100 m-auto">
        <form method="post" action="/sign-up">
            <h1 class="h3 mb-3 fw-normal">Please sign up</h1>

            <div class="form-floating">
                <input type="text" class="form-control" id="userId" name="userId" placeholder="아이디" required>
                <label for="userId">아이디</label>
            </div>

            <div class="form-floating">
                <input type="text" class="form-control" id="userName" name="userName" placeholder="이름" required>
                <label for="userId">이름</label>
            </div>

            <div class="form-floating">
                <input type="text" class="form-control" id="userEmail" name="userEmail" placeholder="이메일" required>
                <label for="userId">이메일</label>
            </div>

            <div class="form-floating">
                <input type="password" class="form-control" id="userPw" name="userPw" placeholder="비밀번호" required>
                <label for="userPw">비밀번호</label>
            </div>

            <button class="w-100 btn btn-lg btn-primary" type="submit">회원가입</button>
            <p class="mt-5 mb-3 text-muted">&copy; by bootstrap 2017–2022</p>
        </form>
    </main>

<script>
    // function login(){
    //     $.ajax({
    //         url : '/auth/login',
    //         method: 'post',
    //         data : JSON.stringify({userId : $('#userId').val(), userName : $('#userName').val()}),
    //         contentType: 'application/json',
    //         success : function (data, status) {
    //             alert("123");
    //         },
    //         error : function(request, errorText, error) {
    //             console.log(request);
    //             console.log(errorText);
    //             console.log(error);
    //             alert("456");
    //         }
    //     });
    // }


</script>
</body>
</html>